{% extends 'base.html.twig' %}
 
{% block title %}New Invoice{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create Invoice</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('invoice_index') }}"> 
                    View All Invoices
                </a>
            </div>
            <div class="card-body">
                 {{ include('invoice/form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}